<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\internal-nlog.txt">

	<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
   </extensions>
    <targets>
		<target xsi:type="File" name="all_logs" fileName="c:\Temp\NLogSample\all.log"></target>
		<target xsi:type="File" name="relevant_logs" fileName="c:\Temp\NLogSample\relevant.log"></target>
	</targets>
	<rules>
		<logger name="*" minLevel="Debug" writeTo="all_logs" />
		<logger name="*" minLevel="Warning" writeTo="relevant_logs" />
	</rules>
</nlog>